@model List<ResultContactDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header mb-0">
    <h3 class="fw-bold mb-3">Gelen Mesajlar</h3>
    <ul class="breadcrumbs mb-3">
        <li class="nav-home">
            <a href="/A_Home/Index">
                <i class="icon-home"></i>
            </a>
        </li>
        <li class="separator">
            <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-item">
            <a href="#">Mesajlar</a>
        </li>
    </ul>
</div>
<div class="page-category">İletişim formunda gelen mesajları buradan görünteleyebilrsiniz.</div>
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <div class="d-flex align-items-center">
                <h4 class="card-title">Gelen Mesajlar</h4>
            </div>
        </div>
        <div class="card-body">

            <div class="table-responsive">
                <table class="display table table-striped table-hover text-center">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>İsim</th>
                            <th>Mail</th>
                            <th>Telefon</th>
                            <th>Gönderim Tarihi</th>
                            <th>Mesaj</th>
                            <th style="width: 10%">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.ContactID</td>
                                <td>@item.Name</td>
                                <td>@item.Email</td>
                                <td>@item.Phone</td>
                                <td>@item.CreatedDate</td>
                                <td>@item.Message</td>
                                <td>
                                    <div class="form-button-action">
                                        <a href="/A_Contact/Delete/@item.ContactID" class="btn btn-link btn-danger btn-lg">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

