@model List<ResultServiceFeatureDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header mb-0">
    <h3 class="fw-bold mb-3">Hizmet Özellikleri</h3>
    <ul class="breadcrumbs mb-3">
        <li class="nav-home">
            <a href="/A_Home/Index">
                <i class="icon-home"></i>
            </a>
        </li>
        <li class="separator">
            <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-item">
            <a href="#">Hizmet Özellikleri</a>
        </li>
    </ul>
</div>
<div class="page-category">Hizmet özelliklerini buradan güncelleyebilirsiniz.</div>

<div class="row">
    <div class="card">
        <div class="card-header">
            <div class="card-title">Hizmet Özelliklerimiz</div>
        </div>
        <div class="card-body">
            <table class="table table-hover text-center">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Özellik</th>
                        <th scope="col">Güncelle</th>
                        <th scope="col">Sil</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <form method="post" asp-action="Update" asp-controller="A_ServiceFeature">
                        <tr>
                            <td>
                                    @item.ServiceFeatureID
                                <input type="hidden" name="ServiceFeatureID" value="@item.ServiceFeatureID" />
                                <input type="hidden" name="ServiceId" value="@ViewBag.ServiceID" />
                            </td>
                            <td>
                                <input type="text" name="Feature" value="@item.Feature" class="form-control" />
                            </td>
                            <td>
                                <button type="submit" class="btn btn-warning">Güncelle</button>
                            </td>
                            <td>
                                <a class="btn btn-danger" href="/A_ServiceFeature/Delete/@item.ServiceFeatureID">Sil</a>
                            </td>
                        </tr>
                        </form>
                    }
                    <form method="post" asp-action="Create" asp-controller="A_ServiceFeature">
                    <tr>
                        <td>#
                            <input type="hidden" name="ServiceId" value="@ViewBag.ServiceID" />
                        </td>
                        <td>
                            <input type="text" name="Feature" class="form-control" placeholder="özellik giriniz" required />
                        </td>
                        <td>
                            <button type="submit" class="btn btn-success">Ekle</button>
                        </td>
                        <td></td>
                    </tr>
                    </form>

                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
        @if (TempData["NotifyMessage"] != null)
        {
            <text>
                                    $.notify({
                                        // İçerik
                                        icon: 'fa fa-bell',
                                        title: '@TempData["NotifyTitle"]',
                                        message: '@TempData["NotifyMessage"]'
                                    },
                                    {
                                        // Ayarlar
                                        type: '@TempData["NotifyType"]',
                                        allow_dismiss: true,
                                        newest_on_top: true,
                                        placement: {
                                            from: "bottom",
                                            align: "right"
                                        },
                                        delay: 2500,
                                        timer: 500,
                                        animate: {
                                            enter: 'animated fadeInDown',
                                            exit: 'animated fadeOutUp'
                                        },
                                        offset: {
                                            x: 30,
                                            y: 30
                                        }
                                    });
            </text>
        }
        });
    </script>
}

